.App {
  display: block;
  height: 100%;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.App-content {
  height: 100%;
  padding: 15px;
}



.sort-button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-left: auto;
}