

.App-header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 50px;
  color: white;

  
  .App-logo {
    height: 80%;
    pointer-events: none;
  }

  .description {
    font-size: 0.5em;
    margin-top: 35px;
    display: none;
    /* align-self does not fit */
    white-space: nowrap;;
    width: auto;
  }

}

.header-right {
  margin: 15px 15px 0 auto;
  cursor: pointer;
  color: white;
}

@media only screen and (min-width: 1280px) {
  .App-header {
    .description {
      display: inline-block;
    }
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
